.GOMA_LABEL {
  $statusHeight: 30px;
  $asideWidth: 270px;

  font-size: 14px;
  background-color: #222;

  #status {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: $statusHeight;
    color: #fff;
    line-height: $statusHeight;
    padding: 0 10px;
    font-size: 12px;
    white-space: pre;
    background-image: linear-gradient(0deg, #222, #555);

    a.download {
      background-color: #fff;
      border-radius: 4px;
      color: #222;
      text-decoration: none;
      margin-left: 10px;
      padding: 1px 4px;
      line-height: 1;
    }
  }

  #sourceImg {
    width: 0;
    height: 0;
  }

  #canvasMain {
    position: fixed;
    top: $statusHeight;
    right: $asideWidth;
    left: 0;
    bottom: 0;
    overflow: auto;
  }

  #labelPanel {
    position: fixed;
    right: 0;
    top: $statusHeight;
    bottom: 0;
    width: $asideWidth;
    left: auto;
  }

  #maskImg {
    margin: 0 auto;
    display: block;
  }

  #cacheCanvas {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  #canvasWrap {
    position: relative;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 270ms;

    &.show {
      opacity: 1;
    }

    [data-cursor="default"] {
      cursor: default;
    }

  }

  #imgCanvas, #magnifierCanvas, #labelCanvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  #labelImagesWrap {
    overflow: auto;
    height: 100%;
    user-select: none;

    .labelImage {
      position: relative;
      display: flex;
      align-items: stretch;
      justify-content: center;
      padding: 3px 16px 3px 3px;
      color: #ffea00;
      stroke: #ffea00;
      border: 2px solid transparent;
      border-left: none;
      border-right: none;
      border-top: none;

      &.active {
        color: #fff;
        stroke: #fff;
        background-color: rgba(243, 60, 60, 0.5);
        border-color: #f33c3c;
      }

      &:hover {
        cursor: default;
        background-color: rgba(243, 60, 60, 0.6);
        color: #fff;
        stroke: #fff;
      }

    }

  }

  .labelImage {
    .label-img-wrap {
      max-width: 90px;
      min-width: 90px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;

      img {
        max-width: 100%;
        max-height: 100%;
      }

    }

    .label-name {
      flex: 1 1 auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      align-items: center;
      display: flex;

      &:hover {
        cursor: text;
      }

    }

    .delete-label {
      padding: 0 5px;
      display: flex;
      align-items: center;
    }

  }

}
