*{margin:0;padding:0;box-sizing:border-box}.d-flex{display:flex}#app:after{display:block;clear:both;content:''}#app section{float:left;text-align:center}.labels .label-content{text-align:center;font-size:12px;color:#999}

