doctype html
html
	head
		title Sample / flexpaper
		link(rel="stylesheet", href="/sample.css")
	body
		#app
			main
				#canvasWrap(data-cursor="default")
					canvas(id="imgCanvas", style="z-index: 0;")
					canvas(id="magnifierCanvas", style="z-index: 1;")
					canvas(id="labelCanvas", style="z-index: 2;")
				img(id="maskImg")
			#fileWrap
			#labelPanel
				#labelImagesWrap
		script(src="/sample.js")
